<!-- Ranking -->
<div class="container">
  <% if @ranking then %>
  <h1>Ranking</h1>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Pos</th>
        <th>Name</th>
        <th>Valuation</th>
      </tr>
    </thead>
    <% @ranking.each_with_index do |user_season, i| %>
      <% value_diff = user_season.get_diff_value_on_last_change %>
      <tr class="<%= "bold" if user_season.user == @_current_user %>">
        <td class="col-md-1"><%= i + 1 %></td>
        <td class="col-md-9"><%= user_season.user.name %></td>
        <td class="col-md-2">
          <%= number_to_points user_season.get_total_value %>
          <% if value_diff != 0 %>
            <% if value_diff >= 0 %>
              <span style='color: green;'><i class='glyphicon glyphicon-arrow-up'></i> <%= number_to_points value_diff %></span>
            <% else %>
              <span style='color: red;'><i class='glyphicon glyphicon-arrow-down'></i> <%= number_to_points value_diff %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Sorry, no users found for the current season</p>
<% end %>
</div>
