<!-- Account -->
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>Your players</h2>
      <% if @shares.count > 0 %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="col-md-2">Player</th>
              <th class="col-md-1 text-right">Spent</th>
              <th class="col-md-1 text-right">Current</th>
              <th class="col-md-1">&nbsp;</th>
              <th class="col-md-2">&nbsp;</th>
            </tr>
          </thead>
          <% @shares.each do |share| %>
            <tr>
              <td>
                <%= share.player.name %>
                <% if share.amount > 1 %>
                  ( x<%= share.amount %> )
                <% end %>
              </td>
              <td align="right"><%= number_to_points share.get_total_buy_price %> </td>
              <td align="right"><%= number_to_points share.get_current_value %></td>
              <td align="center">
                <span class="label <%= 'label-success' if share.get_last_variation > 0 %><%= 'label-danger' if share.get_last_variation < 0 %>">
                  <i class="glyphicon glyphicon-chevron-<%= 'up' if share.get_last_variation >= 0 %><%= 'down' if share.get_last_variation < 0 %>"></i> <%= number_to_percentage share.get_last_variation.abs %>
              </span>
              </td>
              <td align="right">
                <%= form_tag foos_sell_path, class: 'form-inline' do %>
                  <div class="form-group form-group-sm">
                    <div class="input-group">
                      <%= hidden_field_tag(:id, share.id) %>
                      <%= select_tag(:amount, options_for_select((1..share.amount).to_a), class: 'form-control') %>
                      <span class="input-group-btn">
                        <%= button_tag "Sell", type: 'submit', class:'btn btn-secondary btn-danger btn-sm' %>
                      </span>
                    </div>
                  </div>
                  </form>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        No players yet.
      <% end %>
    </div>
    <div class="col-md-5">
      <h2>Market</h2>
      <% if @players.count > 0 %>
        <table class="table table-condensed">
          <%  @players.group_by { |player| get_division_title(player) }.sort.each do |division, players| %>
            <tr>
              <td colspan="3">
                <p class="h3"><%= division %></p>
              </td>
            </tr>
            <tr>
              <th class="col-md-2">Player</th>
              <th class="col-md-1 text-right">Value</th>
              <th class="col-md-3">&nbsp;</th>
            </tr>
            <% players.each do |player| %>
              <tr>
                <td>
                  <%= player.name %>
                  <% if player.get_available_stocks == 1 %>
                    <span class="label label-warning">Only 1 left</span>
                  <% end %>
                  <% if player.get_available_stocks == 0 %>
                    <span class="label label-danger">Sold out</span>
                  <% end %>
                </td>
                <% if player.can_be_bought %>
                  <td align="right"><%= number_to_points player.get_current_value %></td>
                  <td align="right">
                    <% if player.get_available_stocks == 0 %>
                      <button class="btn btn-secondary btn-sm disabled" disabled>Sold out</button >
                    <% else %>
                      <%= form_tag foos_buy_path, class: 'form-inline' do %>
                        <div class="form-group">
                          <div class="input-group form-group-sm">
                            <%= hidden_field_tag(:id, player.id) %>
                            <%= select_tag(:amount, options_for_select((1..player.get_available_stocks).to_a), class: 'form-control') %>
                            <span class="input-group-btn" >
                              <%= button_tag "Buy", type: 'submit', class:'btn btn-secondary btn-success btn-sm' %>
                            </span >
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </td>
                <% else %>
                    <td align="right" colspan="2">
                      <button class="btn btn-secondary btn-sm disabled" disabled>Not available yet</button >
                    </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </table>
      <% else %>
        No players available for purchase.
      <% end %>
    </div>
  </div>
</div>
